body {
  font-family: 'Roboto', 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  background-color: #849d8f;
  padding: 0px;
  margin: 0px;
}

.btn {
  padding: 0px;
  margin: 0px;
  outline: 0px;
  color: #ffffff;

}

.title {
  font-weight: bold;
}

.main-title{
  font-size: 60px;
  line-height: 60px;
  text-align:center;
  outline: 1px solid red;
  flex: 0 0 100%;
  order: -2;
  padding: 0px;
  margin: 0px;
  margin-top: 325px;
  margin-bottom: 40px;
}

.left-block .title, .right-block .title {
  font-size: 35px;
  line-height: 41px;
}

.features .title {
  font-size: 24px;
  line-height: 30px;
  margin: 0px;
}

.catalog-title {
  font-size: 35px;
  outline: 1px solid red;
  margin: 0px;
  margin-top: 5px;
}

.clearfix::after {
     content: "";
     display: table;
     clear: both;
}

.main-header .ull, .main .ull{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  font-size: 0px;
}

.main-header .ull .list, .main .ull .list{
  font-size: 16px;
}

.container {
  width: 1146px;
  padding-right: 27px;
  padding-left: 27px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.main-header .container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  position: relative;
}

.main-header .list {
  display: inline-block;
  vertical-align: top;
}


.logo-container {
  outline: 1px solid red;
  width: 154px;
  min-height: 64px;
}

.main-logo {
  display: block;
}

.main-navigation {
  outline: 1px solid red;
  width: 675px;
  margin-left: 24px;
}

.user-block {
  outline: 1px solid red;
  width: 267px;
  margin-left: 26px;
  flex-shrink:1;
}

.btn-search {
  width: 32px;
  height: 32px;
}

.btn-login {
  width: 92px;
  height: 32px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
  position: absolute;
  right: 250px;
  background: #f8f7f4;
  padding-left: 19px;
  padding-top: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.login-form-input {
  width: 241px;
}

.text {
  margin-bottom: 20px;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
}

.password {
  margin-bottom: 20px;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
}

.login-form .btn {
  margin-right: 21px;
  width: 100px;
}

.login-form-a {
  font-size: 13px;
  line-height: 24px;
}

.purchase {
  width: 117px;
  height: 32px;
}

.purchase-popup {
  width: 540px;
  display: block;
  position: absolute;
  right: 250px;
  background: #f8f7f4;
  color: #323232;
  padding-left: 17px;
  padding-top: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-collapse: collapse;
  font-size: 13px;
  padding-left: 17px;
  padding-top: 20px;
}

.purchase-popup .tr {
  outline: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.td {
  margin-right: 15px;
}

.final {
  margin-left: auto;
}

.last {
  margin-left: auto;
}

.purchase-popup .tr:last-child {
  margin-bottom: 0px;
}

.purchase-img {
  display: block;
  border-radius: 150px;
}

.time {
  outline: 1px solid red;
  margin-left: auto;
  flex: 0 0 100%;
  text-align: right;
  margin: 0px;
  position: absolute;
  right: 27px;
  top: 74px;
}

.slider {
  flex: 0 0 100%;
  outline: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  align-content:  center;
}

.slider-radio {
  position: absolute;
  bottom: 0;
  left: 26;
  outline: 1px solid red;
  order: -1;
  margin: 0px;
  padding: 0px;
  padding-top: 21px;
  width: 80px;
}

.slider-radio .list {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}

.slider .btn {
  outline: 3px solid red;
  margin-left: auto;
  margin-right: auto;
}

.main .container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.left-block {
  outline: 1px solid red;
  margin-left: 20px;
  width: 541px;
}

.left-block .btn {
  display: flex;
  justify-content: center;
}

.right-block {
  outline: 1px solid red;
  margin-left:  26px;
  width: 541px;
}

.right-block .btn {
  display: flex;
  justify-content: center;
}

.articles {
  outline: 1px solid red;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 63px;
}

.icecream-articles {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
  margin-top: 37px;
  width: 267px;
  position: relative;
}

.icecream-articles:nth-child(-n+4) {
  margin-top: 0px;
}

.article-img {
  display: block;
  border-radius: 200px;
}

.hit {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 61px;
  height: 61px;
  background: white;
  border-radius: 100px;
  color: #252525;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  font-stretch: condensed;
}

.price {
  display: block;
  position: absolute;
  left: 0;
  top: 216px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.kg {
  font-size: 30px;
  line-height: 45px;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 14px;
}

.icecream-articles .btn {
  outline: 3px solid red;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: auto;
}

.features {
  outline: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  width: 1126px;
  padding-left: 20px;
  margin-bottom: 40px;
  margin-top: 26px;
}

.features-item {
  display: flex;
  flex-wrap: wrap;
  width: 541px;
  margin-top: 8px;
}

.features-p {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  padding-top: 14px;
}

.blog {
  outline: 1px solid red;
  width: 540px;
  padding-left: 20px;
  min-height: 220px;
}

.mail {
  outline: 1px solid red;
  width: 534px;
  padding-left: 26px;
  margin-left: 26px;
  min-height: 220px;
}

.map {
  display: flex;
  align-items: center;
  outline: 1px solid red;
  margin-left: auto;
  flex: 0 0 100%;
  margin-top: 40px;
  margin-bottom: 19px;
  min-height: 430px;
}

.map-contacts {
  outline: 1px solid red;
  width: 276px;
  padding-left: 26px;
  margin-left: auto;
  margin-right: 25px;
  min-height: 305px;
}

.main-footer .container {
  display: flex;
  min-height: 103px;
}

.social {
  outline: 1px solid red;
  width: 267px;
  padding-top: 36px;
}

.social-item {
  margin-right: 11px;
}

.about {
  outline: 1px solid red;
  display: flex;
  width: 431px;
  margin-left: 26px;
  padding-left: 129px;
  padding-top: 37px;
}

.row:nth-child(2) {
  padding-left: 32px;
}

.row-item {
 display: block;
}

.sign {
  outline: 1px solid red;
  width: 189px;
  font-size: 12px;
  line-height: 18px;
  margin-left: 26px;
  padding-top: 20px;
  padding-left: 78px;
}

.sub-menu {
  flex: 0 0 100%;
}

.main-header .root {
  outline: 1px solid red;
  flex: 0 0 100%;
}

.pages {
  outline: 1px solid red;
  flex:0 0 100%;
  text-align: right;
}

.main .ull .list {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

.filter {
  outline: 1px solid red;
  width: 879px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: flex;
  flex-wrap: wrap;
}

.form-particle {
  outline: 1px solid red;
  margin-right: 12px;
}

.filter-fieldset {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.filter-fieldset:first-child {
  outline: 1px solid red;
  width: 193px;
  margin-right: 15px;
}

.ruller-block {
  outline: 1px solid red;
  width: 218px;
  margin-right: 15px;
}

.ruller-p {
  margin: 0px;
}

.filter .ruller {
  display: flex;
  flex-wrap: wrap;
}

.filter-fieldset:nth-child(3) {
  outline: 1px solid red;
  width: 415px;
}

.filter-item {
  display: flex;
  flex-wrap: wrap;
}

.filter-fieldset:nth-child(4) {
  outline: 1px solid red;
  width: 702px;
  margin-right: 15px;
  margin-top: 16px;
}

.filter-button {
  margin-top: 15px;
  height: 44px;
  width: 100px;
}

.hidden {
  display: none;
}
